<ul> 
  <li>
    <%= link_to "Moeda", coins_path, class:"btn btn-primary btn-lg", role:"button" %>
  </li>
   <li>
    <%= link_to "Tipo de mineração", mining_types_path, class:"btn btn-primary btn-lg", role:"button" %>
  </li>
</ul>